<div class="welcome-banner">
  <div class="layer">
    <div class="welcome-content">
      <h1>Christopher Hui</h1>
      <h3>Full-Stack Web Developer</h3>
      <button type="button" class="aboutme-button">
        <span class="glyphicon glyphicon-download"></span>
      </button>
    </div>
  </div>
</div>
<div class="inspiration">
  <div class="layer">
    <h3>What is the point of being alive if you don’t at least try to do something remarkable?</h3>
    <span>- John Green</span>
  </div>
</div>
<div class="about-me">
  <div class="col-md-10 col-md-offset-1">
    <h1>About Me</h1>
    <p>My name is Christopher Hui and I graduated from the University of California, Riverside(UCR) with a degree in Economics/Administrative Studies. I've always had an appreciation for design and web development, but never had the time to dig into it. I attended Dev Bootcamp SF in attempt to jumpstart this new career path. I look forward to continue learning more about technology and improving myself as a programmer.</p>
    <%= link_to "Learn More", about_path, class: "btn btn-default about-me-button" %>
  </div>
</div>
<div class="blog">
  <div class="layer">
    <h1>Blog Posts</h1>
    <p>Check out what I'm writing about!</p>
    <%= link_to "Explore", posts_path, class: "btn btn-default blog-button" %>
  </div>
</div>
<div class="projects">
    <h1>Projects</h1>
    <div class="row">
      <div class="col-md-4">
        <%= link_to("http://redtreeproductions.github.io/dbc-rpg-web.html") do %>
        <div class="thumbnail">
          <%= image_tag('dbc-rpg.png') %>
          <div class="caption">
            <h3>DBC RPG</h3>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to("https://github.com/christopherhuii/brewED") do %>
        <div class="thumbnail">
          <%= image_tag('brewED.png') %>
          <div class="caption">
            <h3>brewED</h3>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to("https://doineedajacket.herokuapp.com") do %>
        <div class="thumbnail">
          <%= image_tag('do_i_need_a_jacket.png') %>
          <div class="caption">
            <h3>Do I Need a Jacket?</h3>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <%= link_to "Explore", projects_path, class: "btn btn-default projects-button" %><br />
    <%= link_to "Check Out My GitHub", "https://github.com/christopherhuii" , class: "btn btn-default github-button" %>
</div>
<div class="contact">
  <h1>'Git' in Touch!</h1>
</div>
