<div class="container">
  <div class="project_show">
    <h1><%= @project.name %></h1>
    <div class="user_functions">
      <% if current_user === @project.user %>
        <%= link_to "Delete", project_path, method: :delete, data: {confirm: "Are you sure?"} %> |
        <%= link_to "Edit", edit_project_path %>
      <% end %>
    </div>
    <%= link_to "Check Out the Code", @project.github_url, class: "btn btn-default project_button" if @project.github_url.present? %>
    <%= link_to "Check Out the Project", @project.project_url, class: "btn btn-default project_button" if @project.project_url.present? %>
    <p><%= @project.description %></p>
    <div class="image_tag">
      <% @project_attachments.each do |image| %>
        <%= image_tag image.image_url, class: "img-thumbnail" %>
      <% end %>
    </div>
  </div>
</div>